.container {
    font-family: Arial, sans-serif;
  }
  
  .password-container {
    position: relative;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .show-password-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
